<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.angelica.apppizzahut" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:label="Delivery Pizza"
        android:theme="@style/Theme.Mystyle" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDKGIOow5078BLtBaIMaq3snCFGGg2hxM0" />

        <activity
            android:name=".Activity.InicioActivity"
            android:label="Delivery" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.PrincipalActivity"
            android:label="Principal" >

        </activity>
        <activity
            android:name=".Activity.NoticiasActivity"
            android:label="Noticias" >
        </activity>
        <activity
            android:name=".Activity.CrearCuentaActivity"
            android:label="Crear Cuenta" >
        </activity>
        <activity
            android:name=".Activity.RecordarPasswordActivity"
            android:label="Recordar Password" >
        </activity>
        <activity
            android:name=".Activity.LocalActivity"
            android:label="Nuestros Locales" >
        </activity>
        <activity
            android:name=".Activity.PedidoActivity"
            android:label="Confirmar Pedido" >
        </activity>
        <activity
            android:name=".Activity.ProductoActivity"
            android:label="Agregar Productos" >
        </activity>
        <activity
            android:name=".Activity.LocalMapaActivity"
            android:label="Ubicacion del Local" >
        </activity>
    </application>

</manifest>
